*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

body{
    font-family: 'Alata', sans-serif;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden !important;
}

@media (max-width:576px) {
    body {
        overflow-x: hidden !important;
    }
}
@media (max-width:767px) {
    body {
        overflow-x: hidden !important;
    }
}
@media (max-width:991px) {
    body {
        overflow-x: hidden !important;
    }
}


/* Start navbar*/

.navbar {

    padding:20px;
    background-color: #fff;

}

.navbar .navbar-nav {

    margin-left:200px
}

.navbar .navbar-nav .nav-item {

    margin-right:30px;
}

.navbar .navbar-nav .nav-item a {

    color:#7a7c8c;
    font-size:16px;
    font-family: 'Barlow', sans-serif;
    font-weight:450;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .active a {

    color:#111;
    border-bottom:1px solid #111
}

.navbar .navbar-nav .nav-item a:hover {
    
    color:#377EF9
}

.navbar .sign {

    padding:10px 35px;
    font-size:16px;
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    color:#fff;
    background-color:#377EF9;
    border-radius: 5px;
    border:none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar .sign:hover {

    background-color: #030F27;
}

.navbar .navbar-toggler-icon{

    background-color:#377EF9;
    height:4px;
    width:30px;
    display: block;
    border-radius: 5px;
    margin:5px
}

.navbar .navbar-toggler:focus {

    outline: none;
}

@media(max-width:991px) {

    .navbar {
        
    }
    .navbar .navbar-nav {
        margin-left: 30px;
        padding: 10px;
    }
    
    .collapse.show {
        margin-bottom: -20px;
        padding: 10px;
        display: block;
        margin-right: 19px;
        margin-left: -19px;
        margin: 0 19px -20px -19px
    }
    .navbar .navbar-nav .nav-item a {
        border-bottom: 1px solid #8a8a8a;
        color: #8a8a8a;
    }
    .navbar .navbar-nav .active a {
        color: #fff;
    }
}

/*
@media(max-width:991px) {
 
    .collapse.navbar-collapse {

        background-color:#030F27;
        color:#fff;
        width:70%;
        position: absolute;
        top:0;
        left: 0;
        z-index: 5;
        float:left
    }

    #navbarSupportedContent {
        float:left
    }
    .collapse.navbar-collapse ul {
        height:100vh;
        padding-top:40px;
      
    }
    .navbar .navbar-nav {
        margin-left:25px
    }
    .collapse.navbar-collapse .nav-item {
        border-bottom: 1px solid rgba(233, 232, 232, 0.363);

    }
    .navbar .navbar-nav .nav-item a, .navbar .navbar-nav .active a {

        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color:#fff;
        margin-left:0;
        padding:10px
    }
    .sign {
        display: none;
    }
} 
/*
@media(min-width:767px) {

    .collapse.navbar-collapse {

        background-color:#030F27;
        color:#fff;
        width:80%;
        position: absolute;
        top:0;
        left: 0;
        z-index: 5;
        float:left;
        
    }

    .sign {
        display: none;
    }
    #navbarSupportedContent {
        float:left
    }
    .collapse.navbar-collapse ul {
        height:100vh;
        padding-top:40px;
      
    }
    .navbar .navbar-nav {
        margin-left:25px
    }
    .collapse.navbar-collapse .nav-item {
        border-bottom: 1px solid rgba(233, 232, 232, 0.363);

    }
    .navbar .navbar-nav .nav-item a, .navbar .navbar-nav .active a {

        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color:#fff;
        margin-left:0;
        padding:10px
    }
  
}

@media(min-width:991px) {

    .navbar {
        margin-left: 39px;
    }
    .navbar .navbar-nav {
        margin-left: 60px;
    }
    .navbar .navbar-nav .nav-item a {
        
        font-size: 15px;
    }
    img {
        width: 147px;
        margin-left: -44px;
    }
    .navbar-expand-lg .navbar-collapse {
        margin-left: 42px;
    }

}
@media(min-width:1200px) {

   
}
*/
/* End navbar */

/* Start Header */

.overlay {

    background-color:rgba(6, 17, 41, 0.5);
    width:100%;
    height:100%;
    top:0;
    left:0
}

.header {

    width:100%;
    height:800px;
    background-image: url('../img/1.webp');
    background-position: 50% 11%;
    background-size: cover;
}

.header .content {

    color:#fff;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,0);
    text-align:center
}

.header .content h1 {

    font-family: 'Alata', sans-serif;
    font-size:65px;
    font-weight:bold;
    line-height:1.2;
   
}

.header .content p {

    font-size: 18px;
    text-align: center;
    padding: 20px 40px;
}

.header .content .butt {
    padding:15px 40px;
    margin-top:20px;
    margin-left:10px;
    border:none;
    border-radius: 10;
    color:#fff;
    background-color:#377EF9;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header .content .butt:last-child  {

    background-color:#fff;
    color:#000;
    padding:15px 44px;
    margin-left:7px;
}

.header .content .butt:last-child:hover  {

    color:#fff
}

.header .content .butt:hover {

    background-color: #030F27;
}

.header button span {

    text-transform: lowercase;
}


@media(max-width:576px) {

    .header {

        background-position: 81% 50%;
    }
    .header .content {

        width: 90%;
        top: 55%;
        
    }

    .header .content h1 {

        font-size: 29px;
    }

    .header .content p {

        font-size: 15px;
        padding: 15px 0;
    }
}
@media(min-width:767px){

    .header .content {

        width: 90%;
        top: 40%;
        
    }   
    .header .content h1 {
        font-size: 45px;
    }       
}

@media(min-width:991px){
    
    .header .content {

        width: 90%;
        top: 40%;
    }


    .header .content h1 {
       
        font-size: 51px;
    }

    .header .content p {

        margin: 40px;
    }

}
@media(min-width:1200px){

    .header {

        height: 800px;

    }

    .header .content {

        width:66%

    }
    .header .content h1 {

        font-size: 80px;
        font-weight: 400;
    }
    .header .content p {

        width:70%;
        margin: 30px  auto 10px;
        font-size: 20px;
    }
}
/* End Header */

/* Start Features */

.features {

    position: relative;
    display: block;
}

.features .shadow {

    padding: 95px;
    position: absolute;
    background-color: #eff4ff;
    width: 73%;
    top: 0px;
    left: 205px;
    box-shadow: 3px 20px 20px 19px #eff4ff;
    z-index: -2;

}
.features .box {

   position:absolute; 
   bottom:-200px; 
   padding:40px;
   margin-right:1%;
   background-color: #fff;
   border-radius: 20px;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition:all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;

}

.features .box:hover {
    
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: rgba(55, 126, 249, 1);
    
}
/*
.features .box::before {
    left: 2px;
    bottom: -6px;
    position: absolute;
    content: ' ';
    width: 99%;
    height: 50px;
    background-color: #none;
    border-radius: 30px;
    z-index: -1;
    -webkit-transition: :all 0.5s ease-in-out;
    -moz-transition: :all 0.5s ease-in-out;
    -o-transition: :all 0.5s ease-in-out;
    transition: :all 0.5s ease-in-out;
}
.features .box:hover:before{
    background-color: #377EF9;
}
*/
.features .box i {

    color:#377EF9;
    font-size:45px;
}

.features .box h3 {

    font-family: 'Alata', sans-serif;
    font-size:22px;
    color:#030f27;
    padding:15px 0;
    text-transform: capitalize;
}

.features .box p {

    color:#7a7d8c;
    font-family: 'Barlow', sans-serif;
    font-size:17px;
    margin-bottom: 35px;
}

.features .box a {

    font-size: 16px;
    color: #377EF9;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: none;
}

@media(max-width:576px) {

    .features {
        margin-top: -310px;
    }

    .features .shadow {
        width: 100%;
        height: 118%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .features .box  {

        position:relative;
        margin-bottom: 38px;
        margin-top: 38px;
    }
}
@media(min-width:767px) {

    .features .box h3 {

        font-size: 17px;
    }
    .features .shadow {
      
        width: 93%;
        left: 22px;
    }
}   
@media(min-width:991px){

    .features .box {
        
        bottom: -152px;
        padding: 48px;
    }
    .features .shadow {

        width: 95%;
    }
}
@media(min-width:1200px){
    
    .features {
        margin-top: 89px;
    }
    .features .box {
        bottom: -65px;
    }
    .features .shadow {
      
        width: 74%;
        left:13%;
        top: -138px;
    }

}
/* End Features */

/* Start about */

.about {

    padding-top:150px;
    display:block
}

.about h1 {

    line-height: 1.5;
    font-size: 34px;
    font-family: 'Alata', sans-serif;
    width: 74%;
    margin-left: 13%;
    padding-bottom: 85px;
}

.about .image {
    position:relative;
    width: 95%;
    height:100%;
    border-radius: 15px;
    position: relative;
    background: url(../img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg1 {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 66%;
    height: 56%;
    background-color: #EEF6FF;
    z-index: -1;
    border-radius: 15px;
}
.bg2 {
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 50%;
    height: 45%;
    background-color: #FDF1E7;
    z-index: -1;
    border-radius: 4%;
}

.about .left {
    margin-left: 55px;
}

.about .text h2 {

    line-height: 1.5;
    font-size:27px
}

.about .text p {
    color:#7a7c8c;
    margin-top:20px;
    font-family: 'Barlow', sans-serif;
    font-size:17px;
}


.about .left i {

    color: #377EF9;
    font-size: 34px;
    padding: 14px 15px 15px 0;
}

.about .left span {

    color: #030f27;
    font-size: 22px;
}

.about .left p {

    color:#7a7c8c;
    margin:15px 0 20px 0;
    font-family: 'Barlow', sans-serif;
    font-size:17px;
}

@media(max-width:576px) {

    .about h1 {

        line-height: 1.4;
        font-size: 22px;
        padding-bottom: 79px;
        margin-top: 50px;
}
   .about .image {

        width: 95%;
        height: 700px;
        margin-left: 10px;
        margin-bottom: 35px;
   }
   .about .bg1 {
        top: -23px;
        left: -20px;
   }
   
   .bg2 {

    bottom: -19px;
    right: -18px;
   }
   .about .left {
       margin-left:0
   }
   .about .text h2 {

        line-height: 1.5;
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
   }
   .about .left p {

        text-align: center;
        font-size: 20px;
   }

   .about .left span {

        font-size: 16px;
        font-weight: bold;
   }
}

@media(min-width:768px){

    .about h1 {

        margin-top: 59px;
        font-size: 27px;
    }
    .about .image  {

        width: 100%;
    }

}
/* End about */

/* Start Workspace */

.workspace {

    position:relative;
    margin-top: 150px;
    width: 100%;
    height: 608px;
    background-image: url(../img/3.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.workspace .content {

    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);

}
.workspace .content h1 {

    color: #fff;
    font-size: 42px;
    line-height: 1.5em;
}

.workspace .content p {
    
    color:#fff;
    margin:15px 0 20px 0;
    font-family: 'Barlow', sans-serif;
    font-size:20px;
    padding-top:30px;
    line-height: 1.5em;
    
}

.workspace .content .butt {
    
    margin-top:30px;
    text-transform: capitalize;
    padding:15px 44px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color:#fff;
    background-color:#377EF9;
    transition:all 0.5s ease-in-out
}

.workspace .content .butt:hover {

    color:#377EF9;
    background-color:#fff
}

@media(max-width:576px) {

    .workspace {

        margin-top: 55px;
        background-position: 73% 17%;
    }

    .workspace .content {

        width: 97%;
    }
    .workspace .content h1 {
       
        font-size: 27px;
    }
    .workspace .content p{

        font-size: 15px;
        margin-top:10%
    }

    .workspace .content .butt {

        margin-top: 15%;
    }
}
@media(min-width:767px) {
    .workspace {

        margin-top: 55px;
        background-position: 73% 17%;
    }

    .workspace .content {

        width: 97%;
    }
    .workspace .content h1 {
       
        font-size: 36px;
    }

}
@media(min-width:991px){

    .workspace {

        margin-top: 100px;
    }
    .workspace .content h1 {

        margin-top: 80px;
    }
    .workspace .content p {

        margin: 22px 100px;
    }
}
@media(min-width:1200px) {

    .workspace .content {
        width: 55%;
    }
    .workspace .content h1 {
       
        font-size: 45px;
    }
}
/* End Workspace */

/* Start office */
.office {

    padding:100px  0;
  
}

.office .content {

    width:100%
}
.office .content h1{
    
    line-height: 1.5;
    font-size: 34px;
    font-family: 'Alata', sans-serif; 
    width:90%;
    margin:auto;
    margin-bottom:30px
    
}
.office .content p {

    color:#7a7c8c;
    margin-top:40px;
    font-family: 'Barlow', sans-serif;
    font-size:20px;
    width:80%;
    margin:auto;
    line-height: 1.5em;
    margin-bottom:55px
}

.office img {

    border-radius: 5%;
    margin:10px 0
}

.office h4 {

    font-size:20px;
    font-family: 'Alata', sans-serif; ;
    padding:10px 0

}

.office p {
    
    color:#7a7c8c;
    width:75%;
    font-size:18px
}

.office a{

    font-size: 16px;
    color: #377EF9;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: none;  
}

.devider {
  
    margin: auto;
    width: 85%;
    margin-top: 100px;
    border-bottom: 1px solid #e1e1e1;
}

@media(max-width:576px){

    .office {

        padding:30px  0;
      
    }
    
    .office .content h1 {
        
        font-size: 18px;
        margin:20px 
    }

    .office .content p {

        font-size: 15px;
        margin-top: 35px;
    }

    .office img {

        margin-top:15px
    }
    .office p {

        width:100%
    }
}
@media(min-width:767px) {

    .office {
        padding:5px 0
    }
     
    .office p {
        width:100%
    }
}
@media(min-width:991px) {

    .office .content h1 {
        
        margin: 50px;
        font-size: 31px;
    }
    .office .content p {

        font-size: 19px;
        width: 81%;
    }
     .office img {
        width: 100%;
    }
}
@media(min-width:1200px) {

    .office {
        padding: 25px 0;
    }
    .office .content h1 {
       
        font-size: 36px;
    }
}
/* End office */

/* Start progress*/
.progress1 {

    padding:50px
}

.progress1 h2 {

    line-height: 1.5;
    font-size: 28px;
    font-family: 'alata', sans-serif; 
    margin-bottom:30px;
    color:#030F27

}

.progress1 p {

    color:#7a7c8c;
    font-size:20px;
    padding-bottom:15px
}

.progress1 h4 {

    margin:20px 0 18px 0;
    font-size:18px;
    font-family: 'alata', sans-serif; 

}
.progress1 .prog {

    width:100%;
    height:12px; 
    background-color:#DEDEDE;
    border-radius: 5px;
    position:relative
}

.progress1 .prog .perc {

    width:60px;
    height:25px;
    line-height:3px;
    text-align: center;
    background-color:#377EF9;
    color:#fff;
    position:absolute;
    bottom:20px ;
    left:0;
    padding:15px;
   z-index: -1;
}

.progress1 .prog span {

    background-color: #377EF9;
    width:10%;
    height:100%;
    display: block;
    border-radius: 5px;

}
.progress1 .image {
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 15px;
    position: relative;
    background: url(../img/7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.progress1 .bg1 {

    position:absolute;
    bottom:0;
    right:0
}
.progress1 .bg2 {

    right: -20%;
}

@media(max-width:576px){

    .progress1 {
        padding: 11px 0;
    }

    .progress1 .bg1 {

        left: 2px;
        width: 45%;
        top: 32px;
    }

    .progress1 .image {

        margin-top: 50px;
        padding: 100px;
    }

    .progress1 .bg2 {
        
        right: 1%;
        bottom: -27%;
    }
}
@media(min-width:768px) {

    .progress1 .image {

        height:600px;
        margin-top: 50px 
    }

    .progress1 .bg1 {
      
        top: 31px;
        left: -10px;
        width: 40%;
    }

    .progress1 .bg2 {
        right: -2%;
        bottom: -4%;
        width: 40%;
    }
}
@media(min-width:991px) {

    .progress1 .image
    {
        margin-left:50px;
        width:100%
    }
  
    .progress1 .bg1 {

        width: 67%;
        top: 24px;
        left: 38px;
    }
    .progress1 .bg2 {

        right: -11%;
        bottom: -4%;
        width: 67%;
    }

}
@media(min-width:1200px) {

    .progress1 h2 {

        margin-top:20px
    }

    .progress1 h4 {
        margin: 34px 0 18px 0;
    }
    .progress1 .image {
        margin-left: 50px;
        width: 100%;
    }
  
      
    .progress1 .bg2 {

        right: -11%;
    }
}
/* End progress*/

/* Start discover */

.discover {
    
    width:95%;
    height:auto;
    border-radius:20px;
    margin: 100px auto;
    background: url(../img/bg2.svg);
    background-position: center;
    background-size: cover;
    position:relative ;
/*     height : auto !important;
 */}

.discover h1 {
 
    padding:100px 0 0 0;
    line-height: 1.5;
    font-size: 35px;
    font-family: 'alata', sans-serif; 
    margin-bottom:30px;
    color:#030F27
}

.discover p {
    
    color:#7a7c8c;
    width:55%;
    margin:auto;
    font-size:20px;
    margin-bottom:70px;
    font-family: 'Barlow', sans-serif;
}

.discover .time {

    padding:50px;
    border: 1px solid #ccc;
    width: 20%;
    height: 55px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    padding:1px;
    display:flex;
    background-color:#fff
    
}

.discover .time .butt{

    padding: 11px 33px;
    background: none;
    border: none;
    font-weight: 500;
    margin-right: 30px;
    margin-top: 1px;
    width: 50%;
    border-radius: 22px;
    text-transform: capitalize;
    color: #323688;
}

.discover .time button.active {

    padding: 0px 38px;
    color: #fff;
    background-color: #377EF9;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 0;
}

.discover .time .butt2 {

    padding: 11px 35px;
    background: none;
    border: none;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 1px;
    border-radius: 22px;
    text-transform: capitalize;
    color: #323688;

}

.discover .plane1 {
    
    width:85%;
    height:600px
}
.discover .plane {
/* 
    background-color: #fff;
    position: absolute;
    top: 50%;
    width: 87%;
    left: 50%;
    margin: 50px auto;
    padding-bottom:20px;
    border-radius: 15px;
    transform: translate(-50%,0);
    box-shadow: 0px 5px 5px 2px #f7f7f7;
    z-index: 10; */
    padding:15px 0;
    margin-left:150px;
    margin-top:80px;
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 15px;
    transform: translate(-50%,0);
    box-shadow: 0px 5px 5px 2px #f7f7f7;
}

.discover .plane h4 {

    margin-top: 47px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Barlow';

}

.discover .plane span {

    font-weight: 500;
    font-size: 40px;
}

.discover .plane p {

    font-size: 17px;
    width: 75%;
    margin-top: 25px;
}

.discover .plane ul {

    list-style:none;
    margin-top:-33px
}

.discover .plane ul li {

    
}

.discover .plane ul .true  {

    font-size:17px;
    color:#030f27;
    font-family: 'Barlow';
}

.discover .plane ul .true span {

    color:#51CE63;
    font-size: 25px;
    padding: 5px 13px;
    margin-right:15px
}

.discover .plane ul .false  {

    font-size:17px;
    color:#7a7c8c;
    font-family: 'Barlow';
    margin-left:2px
}

.discover .plane ul li .false {

    margin-left:10px
}

.discover .plane ul .false span {

    color: #7a7d8c;
    font-size: 30px;
    padding: 4px 15px 0 0;
    font-weight: 500;
    margin-right:5px;
}

.discover .plane button {

    margin:45px;
    text-transform: capitalize;
    padding:15px 35px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color:#fff;
    background-color:#377EF9;
    transition:all 0.5s ease-in-out
}

@media(max-width:576px){

    .discover h1 {

        font-size: 29px;
    }
    .discover p {
      
        width: 77%;
    }
    
    .discover .time {

        width:90%
    }

    .discover .plane1 {

        height: 100%;
    }
    .discover .plane {

        margin-left: 182px;
        width: 98%;
    }
}
@media(min-width:768px){

    .discover {
        width:98%
    }
    
    .discover .time {
        
        width:44%
    }
    .discover .plane1 {
        width: 95%;
    }
    .discover .plane {
        width:96%
    }
    .discover .plane ul .true span {
        color: #51CE63;
        font-size: 22px;
        padding: 5px 1px;
        margin-right: 15px;
    }.discover .plane button {
        margin: 45px;
        text-transform: capitalize;
        padding: 11px 23px;
    }
}
@media(min-width:991px) {
  /*   .discover {
        min-height:90vh
    }

    .discover .time button.active {

        width: 55%;
    }
    .discover .plane {
        width: 95%;
    } */
    
    .discover .time button.active {
        width: unset;
}
}
@media(min-width:1200px) {
   /*  .discover {
        min-height:140vh;
        width: 95%;
    }

    .discover .time {
        width: 20%;
    }
    .discover p {
      
        width: 50%;
    }
    .discover .plane {
        width: 85%;
    }
    .discover .plane1 {
        margin-top:100px;
        width: 90%;
    } */

    .discover .time {
        width: 17%;
    }


    .discover .plane1 {
        margin-top: 50px;
        width: 90%;
    }
    .discover .plane1 {
        width: 75%;
        margin: auto;
    /*transform: unset;*/
       /* display: flex;*/
    }
    .discover .time .butt {
        margin-right: 0px;
    }
}

/* End discover */

/* Start startups */
.startups {

    padding:100px 0 10px;
}

.startups p {

    color:#7a7c8c;
    margin:auto;
    font-size:20px;
    margin-bottom:50px;
    font-family: 'Barlow', sans-serif;
}

.startups  .images {

    width:100%;
    display:flex;
    justify-content: center;
    flex-flow: row;
    align-items: center
}

.startups  .images img {

    padding:40px 
}

@media(max-width:576px) {

    .startups {

        padding: 0px 0px 0 10px;
    }
      
    .startups .images img {
        padding: 38px;
    }
        
}
@media(min-width:767px) {

    .startups {
        padding: 101px;
    }

    .startups .images img {
        padding: 31px;
    }
}
@media(min-width:991px) {

    .startups .images img {

        margin: 2px;
    }    
}

@media(min-width:1200px) {
 
    .startups {
        padding: 100px 0 30px 0
    }
    .startups .images img {
        margin: 0px
    }
}
/* End startups */

/* Start Book */
.book {

    width:95%;
    border-radius:20px;
    margin: 50px auto;
    background: url(../img/bg2.svg);
    background-position: center;
    background-size: cover;
    padding:20px 0;
}

.book .img {

    margin: 9% auto;
    border-radius: 20px;
    height: 360px;
    width: 85%;
    background-image: url(../img/footer.webp);
    background-position: center;
    background-size: cover;
    position:relative
  
}

.book .img .vid {

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:70px;
    height:70px;
    background-color:dodgerblue;
    border-radius: 50%;
    line-height:70px;
    opacity:0.6;
    cursor: pointer;
    z-index: 1;
}

.book .img .vid:before {

    content:' ';
    border-style: solid;
    border-width:15px;
    border-color:transparent  transparent  transparent  #fff;
    opacity:1;
    position:absolute;
    top:50%;
    left:46%;
    transform:translate(0,-50%);
    z-index: 2;
    border-radius: 6px;
}

.book h1 {

    line-height: 1.5;
    font-size: 28px;
    font-family: 'alata', sans-serif;
    color: #030F27;
    margin: 99px 0 30px;

}

.book p {

    color: #7a7c8c;
    margin: 15px 0 20px 0;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
}

.book button {

    margin-top: 10px;
    text-transform: capitalize;
    padding: 15px 35px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: #377EF9;
    transition: all 0.5s;
}

.book button:hover {

    background-color: #030F27;
}
.book button span {

    text-transform: lowercase;
}

@media(max-width:576px){

    .book .img {

        width:100%;
        
    }

    .book h1 {

        font-size: 24px;
        margin: 33px 0 25px;
    }

}
@media(min-width:767px) {
    .book {
        padding:27px 0 47px;
    }
    .book h1 {
        margin: 25px 0 30px;
    }
}
@media(min-width:1200px) {

    .book h1 {
        margin: 90px 0 30px;
    }
    .book button {
        margin-top:50px
    }
}
/* End Book */

/* Start contact */
.contact {

    padding:50px 0
}

.contact h1 {
    
    line-height: 1.5;
    font-size: 36px;
    font-family: 'Alata', sans-serif;
    width: 77%;
    margin-left: 13%;
    font-weight:500
}

.contact p {

    color:#7a7c8c;
    padding:35px 0 30px 0;
    font-family: 'Barlow', sans-serif;
    font-size:18px;
    width:53%;
    line-height: 37px;;
    margin:auto

}

.contact p span {

    color:#377EF9
}
.contact form {

    margin-top:30px;
    width:100%;
    
}

.contact form input {

    width: 33%;
    padding: 15px;
    background-color:#F8F8F9;
    border:1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.contact form input::placeholder {

    font-size:18px;
    color:#ccc
    
}
.contact form button {

    border-radius: 0 10px 10px 0;
    margin-top: 10px;
    text-transform: capitalize;
    padding: 16px 45px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #fff;
    border: none;
    background-color: #377EF9;
    transition: all 0.5s;
    margin-left: -4px;
    cursor: pointer;

}

.contact form button:hover {

    background-color: #030F27;
}

.contact form input:focus,
.contact form button:focus {

    outline:0
}

.contact form p {

    font-size: 16px;
}

@media(max-width:576px) {

    .contact h1 {

        width: 100%;
        font-size: 25px;
        font-family: 'Alata', sans-serif;
        margin-left:0;
        margin-top: -47px;

    }
    .contact p {

        width:100%
    }
    .contact form input {

        width: 100%
    }

    .contact form button {

        padding: 16px 92px;
    }
}
@media(min-width:768px) {

    .contact form input {
        width: 65%;
    }
}
@media(min-width:991px){

    .contact form input {
        width: 33%;
    }
    .contact form p {
        padding: 45px;
        font-size: 19px;
    }
}

/* End contact */

/* Start Footer */

.footer {

    margin-top:100px;
    background: rgb(50,47,99);
    background: linear-gradient(90deg, rgba(50,47,99,1) 34%, rgba(6,32,67,1) 100%, rgba(39,44,79,1) 100%);
    position:relative;
    padding-bottom:80px

}

.footer .shadow {

    width: 73%;
    height: 20%;
    margin: auto;
    background-color: #e9f1fe87;
    position: absolute;
    top: -19%;
    left: 13%;
    border-radius: 15px;
    box-shadow: black;
    z-index: -1;
    overflow: hidden;
    box-shadow: -1px 15px 27px 25px #eff4ff;
    z-index: -2;
}
.footer .box {

    background-color:#fff;
    padding:20px;
   /* box-shadow: 0px -11px 9px 3px #fbfdff;*/
    border-radius: 13px;
    width:95%;
    height: 270px;
    margin-top: -40%;
   
}

.footer .box .icon {


}

.footer .box .icon i {

    color: #377EF9;
    font-size: 45px;
    padding: 15px;
}

.footer .box h4 {

    font-size: 20px;
    font-family: 'Alata';
    color:#030f27x
}

.footer .box p {

    font-size: 17px;
    color:#7a7c8c;
    margin-top:30px

}

.footer .box a {

    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.5s ease-in-out;

}

.footer .pre-footer  {

    margin-top:100px;
    color:#fff;
    overflow: hidden;
}

.footer .pre-footer img {

    float:left

}

.footer .pre-footer span {

    font-size: 17px;
    float: left;
    text-align: left;
    margin-top: 15px;
    padding: 10px 0;
    color: #B0BDCE;
    font-family: 'Barlow';
}

.footer .pre-footer .social-icons {

    float:left;
    margin-top:15px
}

.footer .pre-footer .social-icons i {
    
    font-size: 20px;
    color: #377EF9;
    border: 1px solid #377EF9;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    line-height: 35px;
    transition:all 0.5s ease-in-out

}

.footer .pre-footer .social-icons i:hover{

    color:#fff;
    border: 1px solid #fff;
}

.footer .pre-footer ul {

    list-style: none;
    margin-left:15px;
    display: inline-block;
}

.footer .pre-footer .footer-list {

    text-align: left;
}

.footer .pre-footer .footer-list p {

    font-size: 20px;
    font-family: 'Alata';
    text-transform: capitalize;
}

.footer .pre-footer .footer-list li {

    margin-top:10px;
    text-transform: capitalize;

}

.footer .pre-footer .footer-list li p {

    color:#377EF9;
    font-size:17px
}

.footer .footer-links {

    list-style: none;
    width:100%
}

.footer .footer-links li {

    padding:15px;
    margin-top:15px;
    display:inline-block;
    
}

.footer .footer-links li.active  a{

    color:#377EF9
}
.footer .footer-links li a {

    color:#DEDEDE;
    text-decoration: none;
    transition:all 0.5s ease-in-out;
    text-transform: capitalize;
}

.footer .footer-links li a:hover {

    color:#377EF9
}

.footer .copy-rights {

    font-size: 15px;
    font-family: 'Barlow';
    text-transform: capitalize;
    color:#7a7c8c;
    font-weight:bold
   
}

@media(max-width:576px){

    .footer .box {

        box-shadow: 0 -3px 5px 1px #eff4ff;
        z-index: -2;
        margin-bottom: 159px;
        margin-left: 43px;
        width: 76%;
    }

    .footer .shadow {

        display:none
    }
    .footer .pre-footer {

        margin-top: -80px;
    }
    .footer .pre-footer span {

        font-size: 20px;
    }

    .footer .pre-footer .footer-list {

        margin-top: 42px;
    }
    .footer .pre-footer .footer-list li p {
       
        font-size: 9px;
    }
    .footer .footer-links {

        height: 184px;
    }
    .footer .copy-rights {

        height: 149px;
    }
}
@media(min-width:768px) {
    .footer .shadow {

        height: 100%;
        top: -10%;
        width: 83%;
        margin-left: -35px;
    }

}
@media(min-width:991px){

    .footer .shadow {
        
        top: -16%;
        width: 90%;
        margin-left: -84px;
    }
}
@media (min-width: 991px){

    .footer .shadow {
        
        width:71%;
        margin-left: 16px;
    }
}
/* End Footer */

/*******scroll button*****/
.scroll-button {

    position:fixed;
    bottom: 10%;
    right:5%;
    background-color: #377EF9;
   z-index: 1000;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    display: none;
}

.scroll-button i {

    color:#fff;
    transition: all 0.5s ease-in-out;
}
.scroll-button:hover {

    background-color: #030f27
}
.scroll-button:hover i {

    transform:  translateY(-5px);
}